name: autonomous_fund
author: balancer
version: 0.1.0
description: A set of agents implementing the Autonomous Fund.
aea_version: '>=1.0.0, <2.0.0'
license: Apache-2.0
fingerprint:
  README.md: bafybeibfahh3htjez7vf7lwx2s7tth26cwxgtalgn5hj7yg7akhk67f4ny
fingerprint_ignore_patterns: []
agent: balancer/autonomous_fund:0.1.0:bafybeibtmfdngen57a2ayygvsnhgcxwtrq5a6fojekcak2iofvagh3oib4
number_of_agents: 1
---
public_id: balancer/autonomous_fund_abci:0.1.0
type: skill
models:
  params:
    args:
      setup:
        safe_contract_address: ${SAFE_CONTRACT_ADDRESS:list:["0x0000000000000000000000000000000000000000"]}
      pool_tokens: ${POOL_TOKENS:list:["0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2","0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599","0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"]}
      managed_pool_address: ${MANAGED_POOL_ADDRESS:str:0x0000000000000000000000000000000000000000}
      allowed_lp_addresses: ${ALLOWED_LP_ADDRESSES:list:["0x87cc0d34f6111c8A7A4Bdf758a9a715A3675f941"]}
      enforce_allowlist: ${ENFORCE_ALLOWLIST:bool:true}
      observation_interval: ${OBSERVATION_INTERVAL:int:600}
      service_registry_address: 415121357655178209012117035068431686002096436682
      on_chain_service_id: 2
      consensus:
        max_participants: 1
---
public_id: valory/ledger:0.19.0
type: connection
0:
  config:
    ledger_apis:
      ethereum:
        address: ${SERVICE_AUTONOMOUS_FUND_RPC_0:str:http://127.0.0.1:8545}
        chain_id: 1
